body{
    background-color: purporangele;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    background-color: white;
    text-align: right;
}

.

#signup-form{
    background-color: white;
    width: 300px;
    margin: auto;git
}

.social-image{
    width: 25px;
    height: 25px;
    border-radius: 50%
}

#social a{
    text-decoration: none;
}